Tree General Saccade Length and Averages

In [66]:
# importing necessary libraries
import pandas as pd
import glob
import numpy as np
import warnings
import os
import re

In [72]:
# Saccade Length Tree General
path_tree_general = os.getcwd() + "/data" + "/Tree General"
filenames_tree_general = glob.glob(path_tree_general + "/*FXD.*")

tree_general_saccade_averages = []
tree_general_scanpath = []
participants = []

# Each Users Saccade-Lengths/Average between fixation points
for filename in filenames_tree_general:
    #Participant 
    participants.append(re.search('Tree General/(.*).treeFXD.txt',filename).group(1))

    # Initial Data
    tree_general = []
    tree_general.append(pd.read_csv(filename, sep = '\t', header = None, error_bad_lines=False, warn_bad_lines=False))
    tree_general_fxd_df = pd.concat(tree_general, ignore_index=True)
    tree_general_fxd_df.shape
    tree_general_fxd_df.rename(columns = {0:'number', 
                     1: 'time', 
                     2: 'duration', 
                     3: 'screen_x', 
                     4: 'screen_y'}, inplace = True)

    # Saccade Lengths 
    x = (tree_general_fxd_df['screen_x'] - tree_general_fxd_df['screen_x'].shift())
    y = (tree_general_fxd_df['screen_y'] - tree_general_fxd_df['screen_y'].shift())
    tree_general_fxd_df['saccade_length'] = np.sqrt(x**2 + y**2)

    # Find Average for user 
    tree_general_saccade_averages.append(tree_general_fxd_df['saccade_length'].mean())

    # Scan Path
    tree_general_scanpath.append(tree_general_fxd_df['saccade_length'].sum())

In [73]:
tree_general_data = pd.DataFrame()
tree_general_data.insert(0,'scanpath',tree_general_scanpath)
tree_general_data.insert(1,'saccade_length',tree_general_saccade_averages)
tree_general_data.insert(2,'ID',participants)

In [75]:
tree_general_data

         scanpath  saccade_length   ID
0   235300.477521      107.837066  p36
1   186921.162485      162.398925  P11
2   248624.040367      136.381810  p23
3   308060.142440      126.047521   p5
4   350796.155898      123.172808  p33
5   875934.649058      182.981961  p25
6   174723.642330      129.809541  p17
7   211030.467246      135.016294   p3
8   136636.457390      135.821528  p15
9   425894.359246      160.957808   p1
10  225869.122399      122.355971  p19
11  223016.466128      120.679906  p28
12  936609.948285      170.602905  p13
13  323198.095137      142.944757  p21
14   87992.153602      215.139740  p31
15  329796.118742      121.695985   p7

Additional Participant Data

In [76]:
path_additional_participants = os.getcwd() + "/data" + "/Additional Participant Data.csv" 
df = pd.read_csv(path_additional_participants)

In [86]:
# Combine (Additional P Data) and Tree General Data -> to the associated participant depending on if (1/2)

# Remove Rows where Ontologies and Visualizations are not General/Tree
df = df[df.Ontologies != 2]
df = df[df.Visualization != 2]

# Merge the Dataframes on ID
additional_data_df = pd.merge(tree_general_data, additional_data_df, on='ID',how='outer')

In [88]:
# Dropped Columns
additional_data_df.drop(columns=['scanpath_x','saccade_length_x','saccade_length_y','scanpath_y'])

     ID  Ontologies  Visualization  Task_Success  Time_On_Task
0   p36         NaN            NaN           NaN           NaN
1   P11         NaN            NaN           NaN           NaN
2   p23         1.0            1.0      0.565217          13.0
3    p5         1.0            1.0      0.521739          22.0
4   p33         1.0            1.0      0.478261          22.0
5   p25         1.0            1.0      0.565217          34.0
6   p17         1.0            1.0      0.434783          14.0
7    p3         1.0            1.0      0.478261          10.0
8   p15         1.0            1.0      0.521739           9.0
9    p1         1.0            1.0      0.608696          26.0
10  p19         1.0            1.0      0.565217          14.0
11  p28         NaN            NaN           NaN           NaN
12  p13         1.0            1.0      0.434783          35.0
13  p21         1.0            1.0      0.434783          16.0
14  p31         1.0            1.0      0.391304          14.0
15   p7         1.0            1.0      0.565217          16.0